<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Demande de contact</title>
</head>
<body>
Hello, <br/>
<p>
    Une nouvelle demande de contact a été reçue
</p>
<ul>
    <li>
        Nom: {{ data.name }}
    </li>
    <li>
        Email: {{ data.email }}
    </li>
</ul>

<p>
    <strong>Message</strong>:<br/>
    {{ data.message | nl2br }}
</p>
</body>
</html>
