{% extends 'base.html.twig' %}

{% block title %}
    Créer une nouvelle Recipe
{% endblock %}

{% block body %}
<div>
    <h1>
        Créer une nouvelle Recipe
    </h1>

    <div>
        {{ form(form) }}
    </div>
</div>
{% endblock %}
